<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.js"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand">
            <ul class="navbar-nav">
                @if(User.IsInRole("User") || User.IsInRole("Admin"))
                {
                    <li class="nav-item active"><a class="nav-link" asp-controller="People" asp-action="People">Personer</a></li>
                    @if (User.IsInRole("Admin"))
                    {
                        <li class="nav-item"><a class="nav-link" asp-controller="City" asp-action="Cities">Städer</a></li>
                        <li class="nav-item"><a class="nav-link" asp-controller="Country" asp-action="Countries">Länder</a></li>
                        <li class="nav-item"><a class="nav-link" asp-controller="Users" asp-action="Users">Användare</a></li>
                    }
                    <li class="nav-item"><a class="nav-link" asp-controller="Language" asp-action="Languages">Språk</a></li>
                }
                <partial name="_LoginPartial" />
            </ul>
        </nav>
    </header>

    <div>
        @RenderBody()
    </div>
    @RenderSection("Scripts", required: false)
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>
